.wrapper {
    --axis-width: 0.05rem;
    --axis-color: rgb(150, 150, 150);
    --arrow-length: 0.5rem;
    --left-distance: 3rem;
    --grid-color: rgb(200, 200, 200);
    --target-color: rgb(50, 200, 100);
    --max-target-color: rgb(255, 0, 0);
    --min-target-color: rgb(255, 0, 0);

    position: relative;
    flex-grow: 1;
    width: 100%;

    background-color: var(--secondary-color);

    box-sizing: border-box;
}

.YAxis,
.XAxis {
    position: absolute;
    left: var(--left-distance);
    bottom: 1rem;
    background-color: var(--axis-color);

    transform-origin: bottom left;

    border-radius: calc(var(--axis-width) * 0.5);

    z-index: 1;
}

.YAxis {
    top: 1rem;
    width: var(--axis-width);
}

.XAxis {
    right: 1rem;
    height: var(--axis-width);

}

.YAxis::after,
.YAxis::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--axis-width);
    height: var(--arrow-length);
    transform-origin: top center;
    translate: 0rem -0.15rem;
    background-color: var(--axis-color);
    border-radius: calc(var(--axis-width) * 0.5);
}

.YAxis::after {
    transform: rotate(22.5deg);
}

.YAxis::before {
    transform: rotate(-22.5deg);
}

.XAxis::after,
.XAxis::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: var(--arrow-length);
    height: var(--axis-width);
    transform-origin: center right;
    translate: 0.15rem 0rem;
    background-color: var(--axis-color);
    border-radius: calc(var(--axis-width) * 0.5);
}

.XAxis::after {
    transform: rotate(-22.5deg);
}

.XAxis::before {
    transform: rotate(22.5deg);
}

.grid {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: var(--left-distance);
    background: none;
    z-index: 3;
    pointer-events: none;
}

.gridLine {
    position: absolute;
    border-bottom: 1px dashed var(--grid-color);
    width: 100%;
    height: 0;
}

.gridLine span {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(calc(-100% - 0.25rem), -50%);
    text-align: right;
    font-size: 0.75rem;
}

.targetLines {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: var(--left-distance);
    background: none;
    z-index: 3;
    pointer-events: none;
}

.targetLine,
.maxTargetLine,
.minTargetLine {
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 1;

    transition: 250ms;
}

.targetLine span,
.maxTargetLine span,
.minTargetLine span {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(calc(-100% - 0.25rem), -50%);
    text-align: right;
    font-size: 0.75rem;
    box-shadow: 0rem 0rem 0.25rem 0.1rem rgba(0, 0, 0, 0.25);
}

.targetLine {
    border-bottom: 2px solid var(--target-color);
    box-shadow: 0rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
}

.maxTargetLine {
    border-bottom: 2px dashed var(--max-target-color);
    box-shadow: 0rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
}

.minTargetLine {
    border-bottom: 2px dashed var(--min-target-color);
    box-shadow: 0rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
}

.targetLine span {
    background-color: var(--target-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: var(--secondary-font-color);
}

.maxTargetLine span {
    background-color: var(--max-target-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: var(--secondary-font-color);
}

.minTargetLine span {
    background-color: var(--min-target-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: var(--secondary-font-color);
}

.bars {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: var(--left-distance);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.1rem;

    background: none;

    padding: 0rem 1rem 0rem 0.5rem;

    overflow: hidden;
}

.barWrapper {
    position: relative;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem 1rem 0 0;
}

.bar {
    position: relative;
    flex-grow: 1;
    border-radius: 1rem 1rem 0 0;
    transition: height 250ms, background-color 250ms;
}

.bar span {
    position: absolute;
    transform-origin: center left;
    bottom: 0;
    left: 50%;
    transform: translate(0, 0) rotate(-90deg);
    font-size: 0.75rem;
    text-align: left;
    text-wrap: nowrap;
    white-space: nowrap;
    z-index: 1;
    color: white;
    text-shadow:
        -0.05rem -0.05rem 0 #000,
        0.05rem -0.05rem 0 #000,
        -0.05rem 0.05rem 0 #000,
        0.05rem 0.05rem 0 #000,
        0 0 0.25rem #000,
        0 0 0.5rem #000;

    letter-spacing: 0.2em;
}

.pulse {
    animation: pulse 1s infinite;
}

.pulse .bar {
    animation: pulseBar 1s infinite;
}

@keyframes pulse {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(255, 100, 100, 0.5);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes pulseBar {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(0.9);
    }

    100% {
        filter: brightness(1);
    }
}