.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;

    flex-grow: 1;
    overflow-y: auto;

    padding: 0 1rem;
}

.confirmButton {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    width: 3rem;
    height: 3rem;

    background-color: var(--primary-color);
    border-radius: 50%;

    box-shadow: 0rem 0.1rem 0.15rem 0.15rem rgba(0, 0, 0, 0.15);

    color: var(--secondary-font-color);
    font-size: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmButton * {
    color: var(--secondary-font-color);
}

.titleInput,
.durationToleranceInput,
.expectedFlow,
.flowToleranceInput {
    width: 100%;
}