body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;

  --primary-color: #466905;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'poppins';
  src: url('../public/fonts/Poppins-Regular.ttf');
}

* {
  font-family: 'poppins', sans-serif;
  user-select: none;
}