.wrapper {
    --axis-width: 0.05rem;
    --axis-color: rgb(150, 150, 150);
    --arrow-length: 0.5rem;
    --left-distance: 3rem;
    --grid-color: rgb(200, 200, 200);
    --target-color: rgb(50, 200, 100);
    --max-target-color: rgb(255, 0, 0);
    --min-target-color: rgb(255, 0, 0);

    position: relative;
    height: fit-content;
    flex-shrink: 0;
    width: 100%;

    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: var(--secondary-color);

    box-sizing: border-box;
    padding: 1rem;
}

.lightWrapper {
    box-sizing: border-box;

    /* flex-grow: 1; */
    width: 8rem;
    aspect-ratio: 4/5;

    display: flex;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #616161;
    margin: 0.5rem 0.5rem;
    box-sizing: border-box;

    box-shadow: 0rem 0.15rem 0.25rem 0.15rem rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    overflow: visible;
}

.light {
    --color: rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow:
        0 0.25rem 1rem 0.1rem rgba(0, 0, 0, 0.25),
        inset -0.5rem -0.5rem 1rem 0.5rem rgba(255, 255, 255, 0.25),
        inset -1.25rem -1.75rem 2rem 1.5rem var(--color);

    transition: 250ms;
}

@property --color{
    syntax: "<color>";
    initial-value: rgb(0, 0, 0);
    inherits: false;
}

.light[data-color="black"] {
    --color: rgb(0, 0, 0);
    box-shadow:
        0 0.25rem 1rem 0.1rem rgba(0, 0, 0, 0.25),
        inset -0.25rem -0.25rem 1rem 0.3rem rgba(255, 255, 255, 0.25),
        inset -1rem -1.75rem 2rem 2rem var(--color)
}

.light[data-color="green"] {
    --color: rgb(0, 200, 0);
}

.light[data-color="yellow"] {
    --color: rgb(230, 230, 0);
}


.light[data-color="red"] {
    --color: rgb(215, 0, 0);
    animation: pulse 1s infinite;
}

.lightWrapper span {
    font-size: 0.75rem;
    color: white
}

.lightWrapper[data-ignored="true"]{
    opacity: 0.25;
}

.lightWrapper[data-ignored="false"]{
    opacity: 1;
}

@keyframes pulse {
    0% {
        --color: rgb(215, 0, 0);
    }

    50% {
        --color: rgb(0, 0, 0);
        box-shadow:
        0 0.25rem 1rem 0.1rem rgba(0, 0, 0, 0.25),
        inset -0.25rem -0.25rem 1rem 0.3rem rgba(255, 255, 255, 0.25),
        inset -1rem -1.75rem 2rem 2rem var(--color)
    }

    100% {
        --color: rgb(215, 0, 0);
    }
}