.wrapper {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: fit-content;

    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: var(--secondary-color);

    box-sizing: border-box;
    padding: 0rem 1rem;
    gap: 1rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;
}

.lightWrapper {
    box-sizing: border-box;

    width: fit-content;
    height: 4rem;
    min-width: 7.5rem;
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    border-radius: 0.25rem;
    overflow: visible;
}

.light {
    --color: rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;

    transition: 250ms;
}

@property --color {
    syntax: "<color>";
    initial-value: rgb(0, 0, 0);
    inherits: false;
}

.light[data-color="black"] {
    --color: rgb(0, 0, 0);
    box-shadow:
        0 0.15rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25),
        inset -0.1rem -0.1rem 0.5rem 0.25rem rgba(255, 255, 255, 0.25),
        inset -0.5rem -0.5rem 0.5rem 0.7rem var(--color);
}

.light:not([data-color="black"]) {
    --color: rgb(0, 0, 0);
    box-shadow:
        0 0.15rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25),
        inset -0.1rem -0.1rem 0.5rem 0.25rem rgba(255, 255, 255, 0.25),
        inset -0.5rem -0.5rem 0.5rem 0.7rem var(--color);
}

.light[data-color="green"] {
    --color: rgb(0, 200, 0);
}

.light[data-color="yellow"] {
    --color: rgb(230, 230, 0);
}

.light[data-color="red"] {
    --color: rgb(215, 0, 0);
}

.light[data-color="redPulse"] {
    --color: rgb(215, 0, 0);
    animation: pulse 1s infinite;
}

.lightWrapper span {
    font-size: 0.75rem;
    color: var(--primary-font-color)
}

.lightWrapper[data-ignored="true"] {
    opacity: 0.25;
}

.lightWrapper[data-ignored="false"] {
    opacity: 1;
}

@keyframes pulse {
    0% {
        --color: rgb(215, 0, 0);
    }

    50% {
        --color: rgb(0, 0, 0);
        box-shadow:
            0 0.15rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25),
            inset -0.1rem -0.1rem 0.5rem 0.25rem rgba(255, 255, 255, 0.25),
            inset -0.5rem -0.5rem 0.5rem 0.7rem var(--color);
    }

    100% {
        --color: rgb(215, 0, 0);
    }
}